langchain 
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langgraph
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain_groq
python-dotenv
langsmith
openai
beautifulsoup4
tiktoken
typing-extensions